*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1020px;
  margin: 20px auto;
}
.w-name{
  display: flex;
  gap: 1rem;
  justify-content: center;
  
}
.w-heading{
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  
}
.weather-logo{
  height: 3rem;
  width: 3rem;
  border-radius: 1rem;
}
/* .search-bar{
  padding: 1rem;
} */